/* author: Martin SangDo */
.form_mess {font-weight:bold; color:#f00;}
.pointer {cursor: pointer;}

.tbl_general_list a {color:#0b93d5;}
.tbl_general_list td {padding:5px;}
.tbl_general_list img.thumb_list {max-width:80px;height:auto;}