/**
   * author: Martin SangDo
 */
.pointer {cursor:pointer;}
.main-news-section article .post-content h2 {text-overflow: initial; white-space: initial;}

#primary {width:60%;}
#sidebar-primary {width:40%;}
.site-title {font-size:22px;display:inline-block;letter-spacing:0;}
.logo {width:50px;height:50px;}
.site-branding {margin-top:20px;margin-left: 10px;}
.site-branding a {font-size:16px;}
.main_logo {float:left;margin-top:20px;}
.w-300 {width:300px;}
.ellipsis8lines p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8; /* N: number of lines to show */
    line-height: 20px;        /* X: fallback */
    max-height: 160px;       /* X*N fallback */
}
.ellipsis4lines p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* N: number of lines to show */
    line-height: 20px;        /* X: fallback */
    max-height: 80px;       /* X*N fallback */
}
.ellipsis3lines p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* N: number of lines to show */
    line-height: 20px;        /* X: fallback */
    max-height: 60px;       /* X*N fallback */
}
.ellipsis3lines_title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* N: number of lines to show */
    line-height: 20px;        /* X: fallback */
    max-height: 60px;       /* X*N fallback */
}
.news-text-wrap h2 a {font-size: 15px;}
p {font-size:14px;}
/* center image in background */
.center-cropped-fill {
    background-position: center top;
    background-repeat: no-repeat;
    background-size:cover;
}
@media (max-width: 400px) {
    .home0-center-cropped {
        width: 360px;
        height: 240px;
    }
    .home5-center-cropped {
        width: 360px;
        height: 240px;
    }
}
.home0-center-cropped {
    width: 687px;
    height: 458px;
}
.home1-center-cropped {
    width: 453px;
    height: 213px;
}
.home2-center-cropped {
    width: 370px;
    height: 227px;
}
.home3-center-cropped {
    width: 320px;
    height: 200px;
}
.home4-center-cropped {
    width: 105px;
    height: 80px;
}
.home5-center-cropped {
    width: 670px;
    height: 300px;
}
.home6-center-cropped {
    width: 210px;
    height: 130px;
}
.paper-thumb-center-cropped {
    width: 100px;
    height: 100px;
}
.book-thumb-center-cropped {
    width: 80px;
    height: 130px;
}
.ico-center-cropped {
    width: 60px;
    height: 60px;
}
.book-detail-center-cropped {
    width: 218px;
    height: 350px;
    margin: 0 auto;
}
.posted-date {font-size:12px;}
.sidebar .social-widgets ul li a {text-align: left; padding-right:0;}
.sidebar .social-widgets ul li a .screen-reader-text {margin-left:10px;}

.left-aligned .news-thumb.left-image, .left-aligned .news-text-wrap, .right-aligned .news-thumb.right-image, .right-aligned .news-text-wrap {width: 50%;}
.left-aligned .news-text-wrap {padding-left: 5px;}
.right-aligned .news-text-wrap {padding-right: 5px;}

.sidebar .label-sponsor {color:#ccc;font-size:8pt;}
.gallery-columns-3 .gallery-item {margin-bottom:10px;}

.gallery-columns-3 .gallery-item {max-width:32%;}
.book_price_1 {font-size:12pt;color:#f00;font-weight:bold;}
.buy_link {color:#333;}
.margin-b-10 {margin-bottom:10px;}
.margin-b-20 {margin-bottom:20px !important;}
.margin-b-30 {margin-bottom:30px !important;}

.g-mb-0 {margin-bottom: 0px !important;}
.g-mb-10 {margin-bottom: 10px;}

.g-width-65 {width: 65px !important;}
.g-pl-70 {padding-left:70px !important;}
.g-font-13 {font-size:13px !important;}
.g-font-15 {font-size:15px !important;}

.news-item.layout-two span.minor_title {display:inline;font-size:13px;color:#777;margin-left:10px;}
.news-text-wrap h2, .news-text-wrap h2 a {line-height:1.1;}
/* ICO page */
.ico_review_container .div-block-65 {
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    background-color: #31d0ff;
    background-image: -webkit-linear-gradient(0deg,#31d0ff,#0373ff);
    background-image: linear-gradient(90deg,#31d0ff,#0373ff);
    color: #0373ff;
    font-size: 20px;
    line-height: 22px;
    text-transform: none;
    text-align: center;
}
.ico_review_container .html-embed-37 {color:#f9f9f9;}
.ico_review_container .ico-row {
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-bottom: 2px solid rgba(153,221,254,0);
}
.ico_review_container .ico-side-head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 8px;
    margin-left: -5px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}
.ico_review_container .side-icon {margin-right:8px;}
.ico_review_container .sidebar-line {
    height: 1px;
    margin-left: 11px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #0373ff;
    opacity: .7;
}
.ico_review_container .tags {
    display: flex;
    width: 100%;
    margin-bottom: 7px;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-left: 2px solid rgba(0,0,0,.01);
    font-family: 'Jturjig1 i6t8kchkm45 zpc3gnd a',sans-serif;
    color: #333;
}
.ico_review_container .w-condition-invisible {display: none!important;}
.ico_review_container .ico-label {
    width: 102px;
    padding-top: 5.5px;
    padding-right: 10px;
    font-size: 10px;
    line-height: 14px;
    text-align: left;
    padding-left: 0;
    color: #0373ff;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.ico_review_container .ico-bold {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    font-family: 'Jturjig1 i6t8kchkm45 dje3gnd a',sans-serif;
}
.ico_review_container .ico-list {
    max-width: 60%;
    font-size: 12px;
    font-family: 'Jturjig1 i6t8kchkm45 dje3gnd a',sans-serif;
    line-height: 24px;
}
.float_r {float: right !important;}
.search_box {display:inline-block;}
.search_box input {padding:15px 25px;width:300px;}
.search_box a {position:relative;left:-22px;}
.main-navigation ul li a {padding: 18px 10px;}
.tbl_no_border tr td {border:0;}
.g-color-red {color: red;}
.g-color-green {color: green;}