/**
   * author: Martin SangDo
 */
@media (max-width: 400px) {
    .home0-center-cropped {
        width: 350px;
        height: 240px;
    }
    .home5-center-cropped {
        width: 350px;
        height: 240px;
    }
}